html{
	font-size: 62.5%;
}
*{
	 box-sizing: border-box;
	 margin: 0;
	 padding: 0;
}
:root {
  --header-bg-color: #FE1A19;
  --section-border-color:#E5E000;
}
body{
	font-family: "Helvetica", sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: white;
}
.header{
	height: 60px;
	background-color: var(--header-bg-color);
}
.header h1{
	line-height: 60px;
	text-align: left;
	padding-left: 20px;
	font-size: 20px;
}
.main{
	text-align: center;
	min-height: calc(100vh - 120px);
	font-size:0;
}
.main section{
	width: 400px;
	border: 5px solid var(--section-border-color);
	border-radius: 30px;
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 33px;
	text-align: left;
	line-height: 23px;
	font-weight: normal;
	color: black;
	font-size: 20px;
}
.second{
	margin-right: 50px;
	margin-left: 50px;
}
.main h1{
	margin-bottom: 41px;
	font-size: 20px;
}
.main h2{
	font-weight: normal;
	font-size: 20px;
	font-family:"Times New Roman", serif;
}
.main ul{
	list-style-type: none;
	margin-bottom: 20px;
	font-family:"Times New Roman", serif;
}
.footer{
	height: 60px;
	background-color: red;
	position: relative;
}
.footer p, .footer a{
	text-transform: uppercase;
	position: absolute;
	top:20px;
}
.copyright{
	left: 20px;
}
.footer a{
	right:20px;
	text-decoration: none;
	color: white;
}