@import url(reset.css);
.header{
	height: 60px;
	background-color: red;
}
.header h1{
	font-family: "helvetica", sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 60px;
	color: white;
	text-align: left;
	padding-left: 20px;
}
.page section{
	width: 400px;
	height: 800px;
	border: 5px solid #E5E000;
	border-radius: 30px;
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 30px;
}
.page{
	text-align: center;
	}
.second{
	margin-right: 50px;
	margin-left: 50px;
}
.text{
	text-align: left;
	line-height: 23px;
	font-size: 20px;
	padding-top: 33px;
	padding-left: 33px;
	font-family: "helvetica" serif;
}
.text h1{
	margin-bottom: 41px;
	font-weight: bold;
	font-family: "helvetica",sans-serif;
}
ul{
	margin-bottom: 30px;
}
.footer{
	height: 60px;
	background-color: red;
	position: relative;
}
.footer p,a{
	font-family: "Helvetica",sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	position: absolute;
	top:20px;
}
.copyright{
	left: 20px;
}
.footer a{
	right:20px;
	text-decoration: none;
}