@import url(reset.css);
.header-container{
	background-color: rgb(229, 225, 43);
	width: 1440px;
	height: 200px;
}
.header-container h1{
font-family: "Helvetica",sans-serif;
font-size: 50px;
line-height: 200px;
color:black;
}
.image-container {
	width: 1440px;
	height: 1080px;
	background-image: url(../img/ja.jpg);
	background-size: cover;
}
.menu-container{
	background-color: rgb(229, 225, 43);
	width: 1440px;
	height: 100px;
}
div a {
	font-family:"Helvetica", sans-serif;
	font-style: italic;
	font-size: 35px;
	color: black;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 100px;
}
.text-container{
	width: 1440px;
	height: 550px;
	background-color: white;
}
.text-container h1{
	font-family: "Helvetica",sans-serif;
	font-size: 50px;
	color:blue;
	text-transform: uppercase;
}
.text-container p{
	font-family: "Helvetica",sans-serif;
	text-align: center;
	text-transform: none;
	font-size: 50px;
	line-height: 100px;
	text-align: center;
}
.footer-container{
	width: 1440px;
	height: 200px;
	background-color: rgb(229, 225, 43);
	background-image: url(../img/logo.png);
	background-position: left center;
	background-size: 205px 46px;
	background-repeat: no-repeat;
}
.footer-container h2{
	font-family: "Helvetica",sans-serif;
	font-size: 50px;
	text-align: right;
	line-height: 200px;
}