*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
	font-family: 'Space Mono', monospace;
}
body{
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	background-image: url(../img/graf.jpg);
	background-size: cover;
}
.black-back{
	display: absolute;
	width: 100vw;
	height: 100vh;
	background-color: black;
	opacity: 0.8;
}


.header{
	display: flex;
	justify-content: center;
	
	align-items: center;
	width: 80%;
	height: 8.2rem;
	background-color: red;
}
h1{
	font-family: Arial;
	font-style: italic;
	font-size: 6rem;
	color: white;
}
.data{
	color: white;
	margin-top: 3.8rem;
	margin-bottom: 9.1rem;
}
a{
	font-family: 'Space Mono', monospace;
	line-height: 3.5rem;
	text-decoration: none;
	color: white;
}

