*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root{
	--blue:rgba(10, 77, 177, 1);
	--grey: #EED2CB
}
html{
	font-size: 62.5%
}
body{
	display: flex;
	background-color: var(--blue);
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	font-family: Helvetica, sans-serif;
}
.card{
	min-width: 77.9rem;
	padding: 2rem;
	background-color: var(--grey);
}
.header{
	display: flex;
	justify-content: space-between;
}
.HOMEWORKS, .any{
	text-decoration: underline;
}
.header2{
	display: flex;
	justify-content: center;
	align-items: center;
}
a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}
h1{
	font-size: 8rem;
	color:red;
	line-height: 8rem;
}
.first, .second,.third{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.doom-img{
	width: 23rem;
	height: 4rem;
	border:2px solid black;
	border-radius: 4rem;
	background-image: url(../img/doom.jpg);
	background-size: cover;

}
.button{
	width: 17rem;
	height: 4rem;
	border: 2px solid black;
	border-radius: 4rem;
	animation: gradient;
}
@keyframes gradient{
	0%{
		background-position: 0% 
	}
	100%{
		background-position: 90% 
	}
}
.button:hover{
	background: linear-gradient(90deg, rgba(255,0,184,1) 10%, rgba(71,0,221,1) 83%);
	background-size: 200%;
	animation: gradient 2.5s infinite alternate;
	transition-duration: .7s;
	transition-property: background;
	} 
.button-img{
	width: 23rem;
	height: 4rem;
	border:2px solid black;
	border-radius: 4rem;
	background-image: url(../img/image.jpg);

	background-size: 100%;
	background-position: center;
}
h2{
	display: inline-block;
	font-size: 5rem;
	line-height: 5rem;
}
.footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 2rem;
}
img{
	width: 15rem;
	height: 4rem;
}
a[class="mfdoom"]:hover{
	transition-duration: .7s;
	color:#3B7254;
}
a[class="recipe"]:hover{
	color:#FDB600;
	transition-duration: .7s;
}
a[class="evian"]:hover{
	color:#FF28C3;
	transition-duration: .7s;
}
a[class="breakfast"]:hover{
	color:#6D28FF;
	transition-duration: .7s;
}
a[class="cards"]:hover{
	color:#0000FF;
	transition-duration: .7s;
}
a[class="parcel"]:hover{
	color:#FF6E4E;
	transition-duration: .7s;
}



